body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6em;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 2% 0;
  background-color: white;
}

.orange{
  color: orange;
}

nav ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #9fae22;
}

 nav li {
  width: 20%;
 text-align: center;
} 

nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

nav ul li a:hover {
  background-color: #fff;
  color: #9fae22;
}

.content{
 padding: 2%;
}

form{
  width: 80%;
  margin: 20px auto;
  background-color: #d4e157;
  border-radius: 10px;

}

fieldset{
  border-radius: 10px;
  border-color: #ffff89;
}

.footer{
  text-align: center;
  padding: 5px 0;
  background-color: #9fae22;
  color: white;
  font-weight: bolder;
}

.error{
	color:rgb(255, 145, 0);
	font-weight:bolder;
}

/* #reg_btn{
	float: right;
} */